* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(45deg, #515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
    height: 100%;
}

h1 {
    background-image: linear-gradient(45deg, #9d0bf1,  #27158d);
    background-size: 100%;
    background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 100px;
}

form {
    padding: 20px;
    background:  linear-gradient(45deg, #9d0bf1,  #27158d);
    display: flex;
    min-width: 800px;
    border-bottom: 1px solid rgb(32, 32, 32);
}

#select-all {
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#input-text {
    color: white;
    background: transparent;
    padding: 10px;
    width: 100%;
    border: none;
    font-size: 25px;
}

#input-text:focus {
    outline: none;
}

#result {
    display: flex;
    flex-direction: column;
    width: 800px;
}

div {
    background:  linear-gradient(45deg, #9d0bf1,  #27158d);
    border-bottom: 1px solid rgb(8, 8, 8);
    padding: 20px;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

div label {
    font-size: 20px;
    width: 680px;
    padding-left: 25px;
    color: white;
    word-break: break-word;
}

div button {
    display: none;
    border: none;
    background: none;
}

div:hover {
    filter: hue-rotate(20deg);
    button {
        display: block;
    }
}

form:focus-within {
    filter: hue-rotate(10deg);
}

.box {
    width: 20px;
    height: 20px;
}

body {
    background: transparent;
    font-family: monospace;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

li {
    list-style-type: none;
}

.checked label {
        text-decoration: line-through;
        color: rgb(58, 58, 58);
}

.checked div {
    filter: hue-rotate(20deg);
}

::placeholder {
    font-style: italic;
    color: white;
}

footer {
    padding: 20px;
    min-width: 800px;
    justify-content: space-between;
    font-size: 15px;
}

#filter {
    display: flex;
    gap: 20px;
    font-size: 15px;
}

footer button {
    background: none;
    border: 1px rgb(7, 3, 253) solid;
    border-radius: 4px;
    font-family: monospace;
    font-size: 15px;
    padding: 4px;
}

footer button:hover {
    border: 1px rgb(160, 61, 253) solid;
    border-radius: 4px;
}